html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;

    @extend %quicksand-500;
    font-size: 16px;
    line-height: 26px;
    color: $default;
}

.main {
    flex-grow: 1;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

a {
    @extend %quicksand-500;
    font-size: 16px;
    line-height: 26px;
    color: $default;
}

.title {
    margin-bottom: 10px;

    @extend %roboto-700;
    font-size: 48px;
    line-height: 65px;
    text-align: center;
    color: $title;
}

.text {
    max-width: 570px;
    margin: 0 auto 55px;

    text-transform: uppercase;
    text-align: center;
}

.breadcrumbs {
    position: relative;

    display: inline-flex;
    justify-content: center;
    padding-left: 25px;

    &::before {
        content: "";

        position: absolute;
        top: 4px;
        left: 0;

        width: 16px;
        height: 16px;

        background-image: url('../images/icons/home-icon.svg ');
    }

    &__list {
        display: flex;
    }

    &__item {
        position: relative;

        padding-right: 40px;

        color: #727272;

        &::after {
            content: '';

            position: absolute;
            top: 9px;
            right: 15px;

            width: 9px;
            height: 10px;

            background-image: url('../images/icons/angle-right.svg');
        }

        &:last-child {
            padding-right: 0;

            color: $accent;

            &:after {
                display: none;
            }
        }
    }

    &__link {
        color: inherit;
    }
}

.pagination {
    display: flex;
    justify-content: center;
    padding: 30px 0;

    .pagination__list {
        display: flex;
        padding: 0 35px;
    }

    &__item {
        padding: 0 15px;
    }

    &__link--active {
        color: $accent;
    }

    &__arrows {
        text-transform: uppercase;
        position: relative;

        &::before {
            content: '';

            position: absolute;
            top: 8px;

            width: 5px;
            height: 10px;
        }
    }

    &__prev {
        padding-left: 15px;

        &::before {
            background-image: url('../images/icons/angle_left.svg');
            left: 0;
        }
    }

    &__next {
        padding-right: 15px;

        &::before {
            background-image: url('../images/icons/angle_right.svg');
            right: 0;
        }
    }
}

@media (max-width: 620px) {
    .title {
        font-size: 40px;
        line-height: 48px;
    }
}

@media (max-width: 375px) {
    .title {
        font-size: 32px;
        line-height: 40px;
    }
}