html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;

    @extend %quicksand-500;
    font-size: 16px;
    line-height: 26px;
    color: $default;
}

.main {
    flex-grow: 1;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

a {
    @extend %quicksand-500;
    font-size: 16px;
    line-height: 26px;
    color: $default;
}

.title {
    margin-bottom: 10px;

    @extend %roboto-700;
    font-size: 48px;
    line-height: 65px;
    text-align: center;
    color: $title;
}

.text {
    max-width:570px;
    margin: 0 auto 55px;

    text-transform: uppercase;
    text-align: center;
}

.breadcrumbs {
    position: relative;
    
    display: inline-flex;
    justify-content: center;
    padding-left: 25px;

    &::before {
        content: "";

        position: absolute;
        top: 4px;
        left: 0;

        width: 16px;
        height: 16px;

        background-image: url('../images/icons/home-icon.svg ');
    }

    &__list {
        display: flex;
    }

    &__item {
        position: relative;
        
        padding-right: 40px;

        color: #727272;

        &::after {
            content: '';

            position: absolute;
            top: 9px;
            right: 15px;

            width: 9px;
            height: 10px;

            background-image: url('../images/icons/angle-right.svg');
        }

        &:last-child {
            padding-right: 0;

            color: $accent;
            &:after {
                display: none;
            }
        }
    }

    &__link {
        color: inherit;
    }
}