.blog {
    padding: 50px 0;

    background-image: url('../images/blog-bg.svg');
    background-repeat: no-repeat;
    background-position: center center;

    &__items {
        position: relative;

        display: flex;
        justify-content: space-between;

        &::after {
            content: '';

            position: absolute;
            top: -25px;
            right: -20px;
            z-index: -1;

            width: 126px;
            height: 53px;

            background-image: url('../images/decor/blog-decor.svg');
        }
    }

    &__item {
        max-width: 370px;

        border: 1px solid #ececec;
        transition: all .3s;

        &:hover {
            border: none;
            box-shadow: 20px 0px 60px 0px rgba(202, 202, 202, 0.35);

            .blog__item-link {
                color: $accent;

                &::after {
                    background-image: url('../images/icons/arrow-accent.svg ');
                }
            }
        }
    }

    &__item-imglink {
        display: block;

        img {
            height: 288px;
            object-fit: cover;
        }
    }

    &__item-box {
        padding: 30px 40px;
    }

    &__item-info {
        display: flex;
        justify-content: space-between;

        margin-bottom: 20px;
    }

    &__item-author,
    &__item-date {
        position: relative;

        padding-left: 30px;

        &::before {
            content: '';

            position: absolute;
            top: 4px;
            left: 0;

            width: 20px;
            height: 20px;
        }
    }

    &__item-author::before {
        background-image: url('../images/icons/user-grey.svg')
    }

    &__item-date::before {
        background-image: url('../images/icons/time.svg')
    }

    &__item-title {
        @extend %roboto-400;
        margin-bottom: 20px;

        font-size: 22px;
        color: $title;
    }

    &__item-link {
        position: relative;
        transition: all .3s;
    }

    &__item-link::after {
        content: '';

        position: absolute;
        top: 8px;
        right: -14px;

        width: 10px;
        height: 8px;

        background-image: url('../images/icons/arrow.svg')
    }
}